@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.boxshadow-sm {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 0px 6px 0px;
}

.boxshadow-md {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 0px 10px 0px;
}
.scrollboxmenu::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.scrollboxbody::-webkit-scrollbar {
  background-color: rgba(160, 160, 160, 0.2);
  width: 6px;
}

.scrollboxmenu:hover::-webkit-scrollbar-thumb {
  background-color: rgba(10, 82, 98, 0.422);
  border-radius: 50vh;
}

.scrollboxbody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50vh;
}

@media (hover: none) {
  .scrollbox::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ql-toolbar.ql-snow {
  border: none !important;
  display: flex;
  justify-content: center !important;
}

.ql-container.ql-snow {
  border: none !important;
  margin-top: 1cm;
  overflow-y: auto;
}
